body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: rgb(214, 214, 214);
    font-size: medium;
}

h2 {
    text-align: center;
}

#done-btn {
    margin: 30px;
    padding: 20px;
    width: 30%;
    font-size: 1.5rem;
    background-color: #1f8fdf;
    color: white;
    border-radius: 3px;
    border: none;
    box-shadow: 3px 3px 3px rgb(202, 199, 199);
    transition-duration: 0.2s;
}

#done-btn:hover {
    transform: scale(1.05);
    background-color: #1c83cc;
}

.iframe-form {
    padding: 0;
}
